html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0; 
	font-family: 'Open Sans', sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { 
	font-weight:normal; 
}

img {
	border: 0; 
}

ul, menu, dir {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}